<main class="recipe-detail-container">
    @if (recipe(); as currentRecipe) {
    <h2 class="recipe-info">{{currentRecipe.name}}
        @if (currentRecipe.isFavorite) {
        <span> (Favorite)</span>
        }
        <button (click)="incrementServings()">+</button> {{servingsCount()}}
        <button (click)="decrementServings()">-</button>
    </h2>
    <img [src]="currentRecipe.imgUrl" alt="{{currentRecipe.name}}">
    <p>{{currentRecipe.description}}</p>
    <p>Ingredients:</p>
    <ul>
        @for (ingredient of ingredients(); track $index) {
        <li>{{ingredient.name}} - {{ingredient.quantity}} {{ingredient.unit}}</li>
        }
    </ul>
    } @else {
    <p>Recipe not found!</p>
    }

</main>